# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio specific
*.sdf
*.opensdf
*.pdb
*.obj
*.exe
*.lib
*.log
*.tlog
*.unsuccessfulbuild
*.cache
*.lastbuildstate
*.idb
*.ilk
*.suo